@import url("https://fonts.googleapis.com/css2?family=Roboto&family=RocknRoll+One&display=swap");

h1,
h2,
h3 {
  font-family: "RocknRoll One", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #9d60ee, #568acf, #3d9fb8);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #474747;
  &:hover {
    text-decoration: underline;
  }
}

.main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  .main_container {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 3em;
    margin: 20px 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #000131dd;
  }
  .info {
    text-align: center;
    text-shadow: 0 0 3px #000131dd;
    color: white;
    > p {
      margin: 5px;
    }
  }
  .deck {
    padding: 20px 18px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    .card {
      flex: 1 1 0px;
      background: #f8f8f8;
      border-radius: 10px;
      margin: 15px 15px;
      height: 240px;
      min-height: fit-content;
      min-width: 320px;
      padding: 18px 10px;
      display: flex;
      flex-direction: column;
      box-shadow: 2px 4px 4px 4px #063f8a15;
      > * {
        margin: 0;
        margin-bottom: 10px;
      }
      .name {
        font-size: 1.4em;
      }
      .description {
        padding: 0 8px 0 10px;
      }
      .tags {
        display: flex;
        .tag {
          background: #afbdfd;
          padding: 3px;
          margin-right: 5px;
          border-radius: 6px;
          font-weight: 600;
        }
      }
      .links {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
        align-items: flex-end;
        a {
          padding-right: 10px;
        }
      }
    }
  }
}

.retrospective {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .retrospective-container {
    h1 {
      text-align: center;
      font-size: 2em;
    }
    blockquote {
      background: #e1e8fd;
      margin: 15px 20px;
      padding: 20px;
      border-radius: 10px;
    }
    padding: 20px 60px;
    max-width: 1000px;
    border-radius: 8px 8px 0 0;
    background: white;
  }
}
